@use '../../styles/variables' as *;

.link {
  color: $oonni-teal;
  font-weight: $font-weight-semibold;
  text-decoration: underline;
  text-underline-offset: 2px;

  &:hover {
    color: $oonni-teal-dark;
  }
}
